* {
    /* border: 1px solid red; */
    color: #353535;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: flex;
}

.countries-container,
.neighbours-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 1s;
    align-items: center;
    justify-content: center;
}

.country {
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px 5px #ccc;
    margin: 10px;
    height: max-content;
}

.neighbour {
    transform: scale(0.8) translateY(1rem);
    margin-left: 0;
}

.country__data {
    padding-left: 20px;
    padding-right: 20px;
}

.country__img {
    width: 250px;
}

span {
    margin-right: 5px;
}
